* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

h3 {
    font-size: 5rem;
    color: rgb(60, 60, 60);
    margin-bottom: 1vh;
}

h4 {
    font-size: 2rem;
}

ul {
    margin-bottom: 8vh;
}

ul > li {
    font-size: 1.6rem;
    line-height: 1.65;
}

.button-list {
    margin-top: 3vh;
}

.button-list button {
    margin: 5px;
}

.value-box, .console-message, .button-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.values, .console-message {
    text-align: center;
}

.console-message {
    font-size: 1.3rem;
    padding: 15px;
    width: 50vw;
    min-height: 10vh;
    height: auto;
    border: 2px solid black;
}